-const pageTitle = 'Rock Paper Scissor Lizard Spock'

//- SEO
-const author = 'Ramsua'
-const twitterName = '@RichardRamSua'
-const type = 'website'
-const description = 'Game of paper stone or scissors with javascript'
-const keywords = 'Rock, Paper, Scissor, Lizard, Spock, JavaScript, HTML5, CSS'
-const url = ''
-const image = url + ''